---
layout: page
title: Notebook
permalink: /blog-notebook/
menu: primary
order: 3
---
<div class="container">
    <div class="kd-post-wrapper">
        {% for category in site.categories %}
            {% for post in category[1] %}
            {% if category[0] == "notebook" %}
                <div class="kd-post">
                    <a class="kd-post-image" href="{{ post.url }}"><img src="/assets/images/notebook/{{ post.featured }}" alt="{{ post.featured-alt }}"></a>
                    <a class="kd-post-content" href="{{ post.url }}">
                        <h2 class="kd-post-title">{{ post.title }}</h2>
                        <p>{{ post.excerpt }}</p>
                    </a>
                </div>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
<!-- CONTENT ENDS -->
