---
layout: page
title: Work
permalink: /work/
menu: primary
order: 2
---
<div class="kd-portfolio-wrapper">
	{% for category in site.categories %}
	{% for post in category[1] %}
	{% if category[0] == "work" %}
	<div class="kd-portfolio">
		<a class="kd-portfolio-image" href="{{ post.url }}"><img src="/assets/images/featured/{{ post.featured }}" alt="{{ post.featured-alt }}"></a>
		<div class="kd-portfolio-content">
			<a class="kd-portfolio-link" href="{{ post.url }}"></a>
			<h2 class="kd-portfolio-title">{{ post.title }}</h2>
			<p class="kd-portfolio-excerpt">{{ post.excerpt }}</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	{% endfor %}
</div>