<div class="contact">
  
  <h3 class="contact__title">_____</h3>

  <div class="contact__details">
    <h4 class="contact__details__name">Kshitij Deota (KD)</h4>
    <address class="contact__details__address">
      Abbaiyah Reddy Layout<br>
      Bangalore, 560093<br>
      India<br>
      <div class="contact__details__address__electronic">
        Work Email: kshitij@kdpixels.com<br>
        Work Phone: +91 896 2222 880<br>
      </div>
    </address>

    <nav>
      <ul class="contact__details__social">
        <li class="contact__details__social__item">
          <a class="contact__details__social__item__link" href="http://behance.net/kshitijdeota/" target="_blank">
            <img class="contact__details__social__item__link__image" src="{{ site.baseurl }}assets/images/kd-be.png">
          </a>
        </li>
        <li class="contact__details__social__item">
          <a class="contact__details__social__item__link" href="http://github.com/kshitijdeota/" target="_blank">
            <img class="contact__details__social__item__link__image" src="{{ site.baseurl }}assets/images/kd-gh.png">
          </a>
        </li>
        <li class="contact__details__social__item">
          <a class="contact__details__social__item__link" href="http://linkedin.com/in/kshitijdeota/" target="_blank">
            <img class="contact__details__social__item__link__image" src="{{ site.baseurl }}assets/images/kd-lk.png">
          </a>
        </li>
        <li class="contact__details__social__item">
          <a class="contact__details__social__item__link" href="http://twitter.com/kshitijdeota/" target="_blank">
            <img class="contact__details__social__item__link__image" src="{{ site.baseurl }}assets/images/kd-tw.png">
          </a>
        </li>
        <li class="contact__details__social__item">
          <a class="contact__details__social__item__link" href="http://fb.com/kkdevta/" target="_blank">
            <img class="contact__details__social__item__link__image" src="{{ site.baseurl }}assets/images/kd-fb.png">
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="contact__form">
    <form method="POST" action="">
      <label class="contact__form__label" for="contact__name">Name</label>
      <input class="contact__form__input contact__form__text" type="text" name="contact__name">

      <label class="contact__form__label" for="contact__email">Email</label>
      <input class="contact__form__input contact__form__email" type="email" name="contact__email">
      
      <label class="contact__form__label" for="contact__email">Message</label>
      <textarea class="contact__form__input contact__form__message" name="contact__message"></textarea>

      <input class="contact__form__submit" type="submit" name="contact__submit" value="Send Message">
    </form>
  </div>
</div>
