<body class="home">
	<div class="page">
		<!-- HEADER -->
		<header class="kd-header">
			<div class="container">
				<div id="kd-branding" class="kd-branding" role="branding">
					<div>
						<a id="logo" href="/" title="Home">
						<svg enable-background="new 0 0 147 200" viewBox="0 0 147 200" xmlns="http://www.w3.org/2000/svg">
							<path d="m0 55.2 75.7 43.5v86.6l-75.7-43.5z" opacity=".1"/>
							<path d="m147 57.4-71.3 41.3v86.6l71.3-41.9z" opacity=".3"/>
							<path d="m70.9 13.3-70.9 41.9 75.7 43.5 71.3-41.3z" fill="#fff"/>
							<path d="m75.7 98.7 71.3-41.3-76.1-44.1-70.9 41.9v86.6l75.7 43.5 71.3-41.9v-20.3l-71.3 41.3-58.3-33.5v-65.6l53.5-31.5 38.5 22.5-52.5 32z" fill="#333"/>
						</svg>
						</a>
						{% include nav-primary.html %}
					</div>

					<nav class="kd-nav kd-nav-social">
						{% for item in site.data.settings.social %}
						<a href="{{ item.link }}" title="{{ item.name }}" target="_blank">
							<img class="kd-social-image" src="{{ site.url }}{{ item.folder }}{{ item.file }}.png" alt="{{ item.name }}">
						</a>
						{% endfor %}
					</nav>
				</div>
			</div>
		</header>