<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    {% capture pagetitle %}{{ page.title }}{% endcapture %}
    <title>KD Pixels | {% if pagetitle %}{{ pagetitle | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% link /apple-touch-icon.png %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% link /favicon-32x32.png %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% link /favicon-16x16.png %}">
    <link rel="manifest" href="{% link /site.webmanifest %}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% link assets/css/minireset.css %}">
    <link rel="stylesheet" href="{% link assets/css/style.css %}">
    <link rel="stylesheet" href="{% link assets/css/responsive.css %}">
    <link rel="stylesheet" href="{% link assets/css/xcode.css %}">
    <!-- <link rel="stylesheet" href="{% link assets/css/monokai.css %}"> -->
    {% include google-analytics.html %}
</head>