<a class="logo" href="#logo">
  <h1 class="logo__title">
    <img class="logo__image" src="images/logo.png">
    KD PIXELS
  </h1>
</a>

<nav>
  <ul class="nav-menu">
    <li class="nav-menu__item nav-menu__item--active">
      <a class="nav-menu__link" href="#home">Home</a>
    </li>
    <li class="nav-menu__item">
      <a class="nav-menu__link" href="#portfolio">Portfolio</a>
    </li>
    <li class="nav-menu__item nav-menu__item--end">
      <a class="nav-menu__link" href="#contact">Contact</a>
    </li>
  </ul>
</nav>
