<div class="kd-page-header-wrapper">
	<header class="kd-page-header" id="kd-page-header">
		<div class="container">
			<h1 class="kd-page-title">{{ page.title }}</h1>

			{% if page.type == "work" or page.title == "Work" %}
			<div id="kd-nav-secondary" class="kd-nav-secondary">
				<div class="container">
					<nav class="kd-nav">
						{% for node in site.pages | sort:"order" %}
						{% if node.menu == 'secondary' %}
						<a {% if node.url == page.url %}class="current"{% endif %} href='{{node.url}}'>{{node.title}}</a>
						{% endif %}
						{% endfor %}
					</nav>
				</div>
			</div>
			<nav id="kd-buns-secondary" class="kd-button-menu" href="#">
				<span></span>
				<span></span>
			</nav>
			{% endif %}

			{% if page.type == "notebook" or page.title == "Notebook" %}
			<div class="kd-nav-secondary">
				<div class="container">
					<nav class="kd-nav">
						{% for node in site.pages | sort:"order" %}
						{% if node.menu == 'notebook' %}
						<a {% if node.url == page.url %}class="current"{% endif %} href='{{node.url}}'>{{node.title}}</a>
						{% endif %}
						{% endfor %}
					</nav>
				</div>
			</div>
			<nav id="kd-buns-secondary" class="kd-button-menu" href="#">
				<span></span>
				<span></span>
			</nav>
			{% endif %}

		</div>
	</header>
</div>