<nav class="filter">
  <ul class="filter__projects">
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">All</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Web Design</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Mobile</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Branding</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Graphic Design</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Print</a>
    </li>
  </ul>
</nav>

<div class="projects">
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">IDCMS</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Web Design</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">KunthCab Industries</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Web Design</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">3 Minute Stories</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Branding</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Connect Plus</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Tech</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Creamsmith</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Web Design</a>,
        <a class="projects__item__category__link" href="#">Branding</a>,
        <a class="projects__item__category__link" href="#">Print</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Italy On My Mind</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Tech</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Orbit Cables</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Web Design</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">NJPC</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Web Design</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Tatva Leadership</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Web Design</a>,
        <a class="projects__item__category__link" href="#">Print</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Spectrum</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Web Design</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Dell Inspiron</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Graphic Design</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">
          <img class="projects__item__title__link__icon" src="{{ site.baseurl }}assets/images/attachment.svg" alt="link to project">
          <span class="projects__item__title__link__text">Power Management Icons</span>
        </a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">Graphic Design</a>
      </div>
    </div>
  </div>
</div>
