<nav class="filter">
  <ul class="filter__projects">
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">All</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Category 1</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Category 2</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Category 3</a>
    </li>
    <li class="filter__projects__item">
      <a class="filter__projects__item__link" href="#">Category 4</a>
    </li>
  </ul>
</nav>

<div class="projects">
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">KunthCab Industries</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">3 Minute Stories</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">Connect Plus</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">Creamsmith</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">Italy On My Mind</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">Orbit Cables</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">NJPC</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">Tatva Leadership</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
  <div class="projects__item">
    <img class="projects__item__image" src="{{ site.baseurl }}assets/images/placeholder.jpg">
    <div class="projects__item__info">
      <h3 class="projects__item__title">
        <a class="projects__item__title__link" href="#">Spectrum</a>
      </h3>
      <div class="projects__item__category">
        <a class="projects__item__category__link" href="#">category</a>
        <a class="projects__item__category__link" href="#">category</a>
      </div>
    </div>
  </div>
</div>
