body {
  background: darken(white, 3.5%);
}

a {
  color: darken($smoke, 50%); 
  
  &:hover {
    color: $blood;
  }
}

p {
  color: $smoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darken($smoke, 50%);
}

.logo { color: darken($smoke, 50%); }

.projects { 
  @include e('item') {
    @include e('info')     { background: rgba(white, .85); }
    @include e('category') { color: lighten($smoke, 30%);
      @include e('link')   { color: lighten($smoke, 30%); }
    }
  }
}

.contact {
  @include e('details') {
    
    @include e('name') {
      color: $smoke;
    }

    @include e('address') {
      color: lighten($smoke, 40%);
    }
  }

  @include e('form') {
    @include e('label') {
      color: lighten($smoke, 40%);
    }
  }
}
