/*
	1. HEADER
	2. NAVIGATION
	3. FOOTER
	4. MENU RESPONSE
	5. HERO
	6. POSTS
	7. POST SINGLE
	8. ABOUT
*/

html { font-size: 106.25%; }

body {
	position: relative;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.33341;
	letter-spacing: -.01em;
	color: #888; }

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #121212;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	margin: 0 0 20px 0; }
h1 { font-size: 48px; line-height: 1.2; }
h2 { font-size: 28px; line-height: 1.25; }
h3 { font-size: 21px; line-height: 1.3; }
h4 { font-size: 19px; line-height: 1.35; }
h5 { font-size: 17px; line-height: 1.5; }
h6 { font-size: 14px; line-height: 1.6; }

a {
	color: #333;
	text-decoration: none;
	opacity: .9;
	transition: all .2s ease-in-out; }
a:hover,
a.current {
	text-decoration: none;
	opacity: .35;
	transition: all .2s ease-in-out; }

img {
	display: inline-block;
	max-width: 100%; }

p { margin: 0 0 15px 0; }

ul {
	margin: 0;
	padding: 0;
	list-style: none; }

li { margin-bottom: 5px; }

.container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto; }

/* ``` HEADER ``` */

.kd-header {
	position: relative;
	background: #FFF;
	width: 100%;
	z-index: 9999; }
.kd-branding {
	display: grid;
	grid-template-columns: 44px 1fr auto;
	justify-content: space-around;
	align-items: center;
	height: 44px;
	padding: 0;
	transition: height .2s ease; }
.kd-branding .kd-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 44px; }
.kd-branding .kd-logo svg {
	display: block;
	height: 25px;
	width: 25px; }






.kd-page-header-wrapper { height: 108px; }
.kd-page-header {
	background: #CCC url(../images/hero-bg.jpg) no-repeat center center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 30px 0; }
.kd-page-header .container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px; }
.kd-page-header a { color: #FFF; }
.kd-page-header h1 {
	color: #FFF;
	font-size: 19px;
	font-weight: 300;
	line-height: 2.1;
	margin-bottom: 0;
	padding: 2.5px 0; }


.kd-page-header.sticky {
	left: 0;
	padding: 0;
	z-index: 9999; }
.kd-page-header.sticky .kd-button-menu {
	right: 10px;
}




/* ``` NAVIGATION ``` */

.kd-nav {
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	letter-spacing: -.01em; }
.kd-nav a {
	display: inline-block;
	padding: 7px 20px; }
.kd-nav span { padding: 7px 0; }

svg#home {
	margin-bottom: 0px;
	width: 12px; }
.kd-breadcrumbs,
.kd-nav-secondary { text-align: right; }
.kd-breadcrumbs .kd-nav a,
.kd-nav-secondary .kd-nav a,
.kd-breadcrumbs .kd-nav span,
.kd-nav-secondary .kd-nav span {
	display: inline-block;
	padding: 15px 20px;
	margin: 0;
	line-height: 1; }
.kd-breadcrumbs .kd-nav span,
.kd-nav-secondary .kd-nav span { padding: 17px 0; }
.kd-breadcrumbs .kd-nav a:last-child,
.kd-nav-secondary .kd-nav a:last-child { padding-right: 0; }

.kd-nav-social {
	display: flex;
	justify-content: center;
	align-items: center; }
.kd-nav-social a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 44px;
	padding: 0; }
.kd-nav-social img {
	height: 20px;
	width: 20px; }

/* ``` FOOTER ``` */

.kd-footer-wrapper {
	font-size: 12px;
	background: #F8F8F8; }
.kd-footer {
	display: grid;
	grid-template-columns: 160px 160px 160px;
	letter-spacing: normal;
	padding: 40px 0; }
.kd-footer h3 {
	margin-bottom: 15px;
	font-size: 12px; }
.kd-footer a {
	display: block;
	margin-bottom: 5px;
	opacity: .5; }
.kd-footer a:hover { text-decoration: underline; }

.kd-colophon-wrapper {
	background: #D8D8D8; }
.kd-colophon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	letter-spacing: normal;
	font-size: 12px;
	padding: 0; }
.kd-colophon p { margin-bottom: 0; }

/* ``` HERO ``` */

.kd-hero-wrapper {
	background: #F8F8F8 url(../images/hero-bg.jpg) no-repeat center center;
	background-size: cover;
	display: grid;
	align-items: center;
	height: 100vh; }
.kd-hero {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	align-items: center; }
.kd-hero > div {
	background: #F8F8F8;
	border: 5px solid #FFF;
	padding: 20px 30px;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3); }
.kd-hero h2 {
	font-size: 19px;
	margin-bottom: 15px; }
.kd-hero p { font-size: 12px; }

/* ``` POSTS ``` */

.kd-post-wrapper {
	column-count: 4;
	column-gap: 20px;
	padding: 70px 0; }
.kd-post {
	background: #FFF;
	display: inline-block;
	margin-bottom: 20px;
	border: 5px solid rgba(0,0,0,0.05); }
.kd-post-image {
	display: block;
	margin-bottom: 20px; }
.kd-post h2 {
	font-size: 17px;
	line-height: 1.413em;
	margin-bottom: 10px; }
.kd-post > div { padding: 0 20px 20px 20px; }

/* ``` POST SINGLE ``` */

.kd-single {
	display: grid;
	grid-template-columns: 600px 1fr;
	grid-column-gap: 30px;
	margin: 50px 0px; }
.kd-single h2 { margin-bottom: 15px; }
.kd-single h3 {
	margin-bottom: 10px;
	margin-top: 20px; }
.kd-single h4 {
	margin-bottom: 7px;
	margin-top: 20px; }
.kd-single pre {
	overflow: auto;
	display: block;
	background-color: #f9fafa;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	padding: 0 15px 15px 15px;
	margin-bottom: 30px; }
.kd-single pre code {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.02em;
	font-family: "SF Mono", Menlo, monospace; }

.kd-sidebar {
	display: block;
	padding: 30px;
	font-size: 14px;
	background: rgba(0,0,0,0.025) }

/* ``` ABOUT ``` */

.kd-about,
.kd-about .skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center; }
.kd-about > div { padding: 100px 0 100px 100px; }
.kd-portrait img { border: 5px solid #F8F8F8; }

/*===================================
=            IPAD SCREEN            =
===================================*/

@media only screen and (max-width: 1000px) {

	body { padding: 0; }

	/* HIDE PAGE BORDERS ON IPAD */

	.container { padding: 0 20px; }

	/* ``` HEADER ``` */

	.kd-header {
		position: relative;
		background: #FFF;
		height: 100vh; }

	body.home .kd-header { position: fixed; }

	.kd-header .container { padding: 0;  }

	.kd-branding {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		border-bottom: 1px solid rgba(0,0,0,0.1); }
	.kd-logo { margin: 0 auto; }


	.kd-page-header-wrapper {
		margin-bottom: 0;
		height: 44px; }
	.kd-page-header { padding: 10px; }
	.kd-page-header .container {
		display: grid;
		grid-template-columns: auto auto; }
	.kd-page-header .container { padding: 0; }
	.kd-page-header h1 {
		padding: 11px 10px; }
	.kd-page-header .kd-nav {
		border-top: 1px solid rgba( 255, 255, 255, 0.15);
		display: block;
		text-align: left;
		font-size: 12px;
		line-height: 1;
		letter-spacing: -.01em;
		padding: 0 15px; }
	.kd-page-header .kd-nav a {
		border-bottom: 1px solid rgba( 255, 255, 255, 0.15);
		display: block;
		padding: 20px 0;
		margin: 0 25px;
		font-size: 14px;
		font-weight: 300; }
	.kd-page-header .kd-nav span { padding: 7px 0; }

	.kd-page-header.sticky {
		height: 44px;
		left: 0;
		padding: 0;
		z-index: 9999; }
	.kd-page-header.sticky .kd-button-menu {
		right: 10px;
	}
	.kd-page-header.sticky h1 {
		height: 44px;
		padding: 0 0 0 20px;
	}


	/* ``` NAVIGATION ``` */

	.kd-nav-primary {
		width: 100%;
		padding: 0 40px 15px 40px;
		font-size: 14px; }
	.kd-nav-primary a {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding: 18px 0;
		display: block; }

	.kd-nav-social {
		text-align: center;
		margin-top: 50px; }
	.kd-button-menu {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: absolute;
		z-index: 999;
		height: 44px;
		width: 44px;
		left: 0;
		top: 0;
		cursor: pointer; }
	.kd-button-menu span {
		position: relative;
		background: rgba(0,0,0,0.5);
		display: block;
		height: 1px;
		width: 17px;
		margin: 3px 0; }
	.kd-button-menu.open span {
		transform: rotate(45deg);
		top: 4px; }
	.kd-button-menu.open span:last-child {
		transform: rotate(-45deg);
		top: -3px; }

	.kd-page-header .kd-button-menu {
		right: 0;
		top: auto;
		left: auto; }
	.kd-page-header .kd-button-menu span { background: #FFF; }

	/* ``` MENU RESPONSE ``` */

	.kd-header {
		background: #FFF;
		height: 44px; }

	.kd-nav-social,
	.kd-nav-primary,
	.kd-nav-secondary { display: none; }

	.kd-colophon-wrapper { margin-bottom: 0; }
	.kd-colophon { padding: 0; }
	.kd-colophon .kd-nav-social {
		margin-top: 0;
		display: flex; }

	/* ``` HOME ``` */

	.kd-hero-wrapper {
		padding: 70px 0 30px 0;
		height: auto; }
	.kd-hero { grid-template-columns: 1fr 1fr; }
	.kd-hero h2 { font-size: 19px; }

	/* ``` POSTS ``` */

	.kd-post-wrapper {
		column-count: 3;
		column-gap: 20px;
		padding: 50px 0; }

}

/*=====  End of IPAD SCREEN  ======*/

@media only screen and (max-width: 799px) {

	.kd-post-wrapper {
		column-count: 2;
		column-gap: 20px;
		padding: 50px 0; }
}

/*=====================================
=            MOBILE SCREEN            =
=====================================*/

@media only screen and (max-width: 539px) {

	body { padding: 0; }

	/* HIDE PAGE BORDERS ON MOBILE */

	body:after,
	body:before,
	.page:after,
	.page:before { display: none; }
	.container { padding: 0 20px; }

	/* ``` NAVIGATION ``` */
	.kd-colophon-wrapper { margin-bottom: 0; }
	.kd-colophon .kd-nav-social {
		position: absolute;
		display: flex;
		bottom: 44px;
		left: 38px; }

	/* ``` FOOTER ``` */

	.kd-footer {
		display: grid;
		grid-template-columns: 1fr; }
	.kd-footer > div {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		margin: 0 0 20px 0; }
	.kd-footer h3 {
		margin: 0;
		padding-bottom: 10px; }
	.kd-footer h3:after {
		content: '+';
		float: right;
		font-size: 14px;
		font-weight: normal;
		margin-top: -2px;
		margin-right: 8px;
		transition: transform .3s ease; }

	.kd-colophon { padding: 10px 0; }
	.kd-colophon .kd-nav-social { display: flex; }

	/* ``` HOME ``` */

	.kd-hero-wrapper {
		padding: 70px 0 30px 0;
		height: auto; }
	.kd-hero { grid-template-columns: 1fr; }
	.kd-hero h2 { font-size: 19px; }

	/* ``` POSTS ``` */

	.kd-post-wrapper {
		column-count: 1;
		column-gap: 0;
		padding: 50px 0; }

	/* ``` POST SINGLE ``` */

	.kd-single { grid-template-columns: 1fr; }
	.kd-single h2 { font-size: 19px; }
	.kd-single h3 { font-size: 17px; }
	.kd-single h4 { font-size: 15px; }
	.kd-single pre { max-width: 320px; }
	.kd-single .content { margin-bottom: 50px; }

	/* ``` ABOUT ``` */

	.kd-about,
	.kd-about .skills { grid-template-columns: 1fr; }
	.kd-about h2 { font-size: 19px; }
	.kd-about > div { padding: 50px 0 0 0; }
	.kd-portrait { margin-bottom: 70px; }
}

/*=====  End of MOBILE SCREEN  ======*/

/* ``` UTILITY ``` */

.align-center { text-align: center; }

.caption {
	font-size: 12px;
	text-align: center;
	margin-bottom: 30px; }

.kd-button {
	display: inline-block;
	position: relative;
	letter-spacing: -.022em; }
.kd-button:after {
	position: relative;
	display: inline-block;
	background: url(../images/icon-arrow.png) no-repeat;
	content: " ";
	width: 22px;
	height: 6px;
	margin: 5px 5px 5px 10px;
	vertical-align: text-bottom;
	opacity: 1;
	transition: all .2s ease-in-out; }

.seperator {
	border: 0;
	height: 0;
	margin: 30px 0 30px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.sticky {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
