/*
	1. HEADER
	2. NAVIGATION
	3. FOOTER
	4. MENU RESPONSE
	5. HERO
	6. POSTS
	7. POST SINGLE
	8. ABOUT
*/

html { font-size: 106.25%; }

body {
	position: relative;
	font-family: "SF Pro Text", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.33341;
	color: #454545; }

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #121212;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 600;
	margin: 0 0 20px 0; }
h1 { font-size: 48px; line-height: 1.2; }
h2 { font-size: 28px; line-height: 1.25; }
h3 { font-size: 21px; line-height: 1.3; }
h4 { font-size: 19px; line-height: 1.35; }
h5 { font-size: 17px; line-height: 1.5; }
h6 { font-size: 14px; line-height: 1.6; }

a {
	color: red;
	text-decoration: none;
	opacity: .9;
	transition: all .2s ease-in-out; }
a:hover,
a.current {
	text-decoration: none;
	opacity: .35;
	transition: all .2s ease-in-out; }

img { display: inline-block; }

p { margin: 0 0 15px 0; }

p:last-child { margin-bottom: 0; }

ul {
	margin: 0;
	padding: 0;
	list-style: none; }

li { margin-bottom: 5px; }

.container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto; }






/* ``` HEADER ``` */

.kd-header {
	position: relative;
	background: #F6F6F6;
	width: 100%;
	z-index: 9999; }
.kd-branding {
	display: grid;
	grid-template-columns: 44px 1fr auto;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	transition: height .2s ease; }
.kd-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 44px;
	margin-left: -12px; }
.kd-logo svg {
	display: block;
	height: 25px;
	width: 25px; }



/* ``` NAVIGATION ``` */

.kd-nav {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1; }
.kd-nav a {
	display: inline-block;
	padding: 7px 3px;
	margin: 0 15px;
	color: #111; }
.kd-nav a:first-child { margin-left: 0;  }
.kd-nav a:last-child { margin-right: 0;  }
.kd-nav span { padding: 7px 0; }
.kd-nav a:hover,
.kd-nav a.current { opacity: .5; }
.kd-nav-secondary .kd-nav span {
	display: inline-block;
	padding: 15px 5px;
	margin: 0 10px;
	line-height: 1; }

.kd-nav-social {
	display: flex;
	justify-content: center;
	align-items: center; }
.kd-nav-social a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin: 0 5px; }
.kd-nav-social svg {
	height: 20px;
	width: 20px; }



/* ``` PAGE HEADER ``` */

.kd-page-header-wrapper { height: 103px; }
.kd-page-header {
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(0,0,0,0.05);
	padding: 30px 0; }
.kd-page-header .container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center; }
.kd-page-header .kd-nav a {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666; }
.kd-page-header h1 {
	font-size: 24px;
	color: #454545;
	line-height: 1.5;
	margin-bottom: 0;
	padding: 2.5px 0; }

/* ``` STICKY HEADER STUFF ``` */

.kd-page-header.sticky {
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	left: 0;
	padding: 5px 0;
	z-index: 999; }
.kd-page-header.sticky h1 { font-size: 19px; }




/* ``` PAGE LAYOUT ``` */

.kd-content-wrapper { background: #F6F6F6; }
.kd-content {
	max-width: 1440px;
	margin: 0 auto; }



/* ``` FOOTER ``` */

.kd-footer-wrapper { font-size: 12px; }
.kd-footer {
	display: grid;
	grid-template-columns: 160px 160px 160px;
	letter-spacing: normal;
	padding: 40px 0; }
.kd-footer h3 {
	margin-bottom: 15px;
	font-size: 12px; }
.kd-footer a {
	display: block;
	margin-bottom: 5px;
	color: #333;
	opacity: .5; }
.kd-footer a:hover { text-decoration: underline; }

.kd-colophon-wrapper {
	background: #EAEBEC; }
.kd-colophon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	letter-spacing: normal;
	font-size: 12px;
	padding: 5px 0; }
.kd-colophon p { margin-bottom: 0; }







/* ``` INTRO ``` */

.kd-intro {
	background: #333 url(../images/statue-of-liberty-usa.jpg) no-repeat center center;
	background-size: cover;
	padding: 200px 0;
	margin: 30px;
	color: white;
	text-align: left;
}

.kd-intro-title  {
	font-size: 56px;
	line-height: 1.2;
	color: white;
}

.kd-small-text {
	font-size: 27px;
}







/* ``` CTA ``` */

.kd-cta {
	background: #F6F6F6;
	padding: 100px 0;
	margin: 0 auto;
	text-align: center;
}

.kd-cta-title {
	font-size: 43px;
}
.kd-cta p:not(p:first-child) {
	margin-bottom: 0;
	font-size: 19px;
}
.kd-cta p:last-child {
	margin-top: 20px;
}

.kd-cta-button {}






/* ``` HERO ``` */

.kd-hero-wrapper {
	position: relative;
	overflow: hidden;
	background: #333;
	background-size: cover;
	display: grid;
	align-items: center;
	padding: 270px 0;
	margin: 30px; }
.kd-hero {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	margin: 0 auto;
	width: 1000px;
	color: #FFF;
}

.kd-hero h2 { font-size: 34px; color: #FFF; }
.kd-hero h2:first-child { margin: 0; }
.kd-hero p { font-size: 19px;
	max-width: 360px; }

.kd-macbook-image {
	position: absolute;
	left: 560px;
	top: 100px;
	background: url(../images/macbook-air.png) no-repeat left top;
	background-size: cover;
	width: 1000px;
	height: 588px;
}
.kd-macbook-preview {
	position: absolute;
	top: 37px;
	left: 112px;
	background: url(../images/preview.jpg);
	background-size: 774px 486px;
	height: 486px;
	width: 774px;
}




/* ``` PORTFOLIO ``` */

.kd-portfolio-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	padding: 100px 30px; }
.kd-portfolio-intro { padding-top: 70px; }
.kd-portfolio {
	background: #FFF;
	overflow: hidden;
	height: 362px; }
.kd-portfolio-image {
	position: relative;
	display: block;
	overflow: hidden;
	line-height: 0; }
.kd-portfolio a,
.kd-portfolio-image:hover { opacity: 1; }
.kd-portfolio img {
	opacity: 1; transform: scale(1);
	transition: .4s all ease-in-out; }
.kd-portfolio:hover img {
	opacity: 1; transform: scale(1.03);
	transition: .4s all ease-in-out; }
.kd-portfolio-content {
	position: relative;
	display: block;
	padding: 18px 30px; }
.kd-portfolio-link {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 1; }
.kd-portfolio-title {
	font-size: 19px;
	margin-bottom: 5px;
	color: #333; }
.kd-portfolio p {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #888; }

/* ``` POSTS ``` */

.kd-post-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	padding: 100px 0; }

.kd-post {
	background: #FFF;
	margin-bottom: 20px;
	transition: .2s all ease-in-out; }
.kd-post:hover {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
	transition: .2s all ease-in-out; }
.kd-post:hover .kd-post-image { opacity: .5; }
.kd-post-image { opacity: 1; }
.kd-post-content {
	display: block;
	font-size: 13px;
	padding: 30px 30px;
	color: #333; }
.kd-post-content:hover { opacity: 1; }
.kd-post h2 {
	font-size: 17px;
	line-height: 1.413em;
	margin-bottom: 10px; }

/* ``` POST SINGLE ``` */

.kd-single {
	display: grid;
	margin: 50px 15px; }
.kd-single h2 { margin-bottom: 15px; }
.kd-single h3 {
	margin-bottom: 10px;
	margin-top: 20px; }
.kd-single h4 {
	margin-bottom: 7px;
	margin-top: 20px; }
.kd-single pre {
	overflow: auto;
	display: block;
	background-color: #f9fafa;
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	padding: 0 15px 15px 15px;
	margin-bottom: 30px; }
.kd-single pre code {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.02em;
	font-family: "SF Mono", Menlo, monospace; }

/* ``` ABOUT ``` */

.kd-about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 100px 0 100px 0; }
.kd-portrait {
	text-align: right;
	margin-right: 50px;
}
.kd-portrait-image {
	box-shadow: 0 20px 50px 0 rgba(0,0,0,0.25);
	width: 100%;
	max-width: 400px;
	border: 5px solid #FFF; }

.kd-about-title {
	font-size: 43px;
	margin-bottom: 30px;
}
.kd-about-intro {
	line-height: 1.5;
	margin-bottom: 50px;
}
.kd-about-intro,
.kd-about-content {
	font-size: 13px;
	max-width: 450px; }
.kd-about-subtitle {
	font-size: 19px;
	margin-bottom: 20px;
	color: #aaa;
}
.kd-about-skills {
	display: grid;
	grid-template-columns: 1fr 1fr; }

.kd-about-list-item { margin-bottom: 3px; }

/* ``` CONTACT ``` */

.kd-contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 100px;
	align-items: center;
	padding: 100px 0;
}
.kd-contact-image {
	display: block;
	max-width: 100%;
}
.kd-contact-title {
	font-size: 24px;
}