---
layout: page
type: work
title: Brand Identity
permalink: /work/brand-identity/
menu: secondary
order: 2
---
<p class="kd-portfolio-intro container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit officia, magnam aspernatur. Fugiat, eveniet sapiente vero quasi neque, cum optio a corrupti dolorem aut voluptatibus sit et, at excepturi dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor recusandae porro placeat nisi impedit quasi itaque ullam doloremque consectetur natus sunt neque dolorem unde, voluptate, eos aperiam accusantium. Sequi, quidem?</p>
<div class="kd-portfolio-wrapper">
    {% for category in site.categories %}
        {% for post in category[1] %}
        {% if category[0] == "brand-identity" and post.type == 'work' %}
        <div class="kd-portfolio">
            <a class="kd-portfolio-image" href="{{ post.url }}"><img src="/assets/images/featured/{{ post.featured }}" alt="{{ post.featured-alt }}"></a>
            <div class="kd-portfolio-content">
                <a class="kd-portfolio-link" href="{{ post.url }}"></a>
                <h2 class="kd-portfolio-title">{{ post.title }}</h2>
                <p class="kd-portfolio-excerpt">{{ post.excerpt }}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endfor %}
</div>