{% include head.html %}
{% include header.html %}
<!-- HERO -->
<div class="kd-intro">
	<div class="container">
		<h1 class="kd-intro-title">
			Brand Identity,<br>
			UI/UX Design,<br>
			WordPress<br>
		</h1>
		<span class="kd-small-text">
		For individuals &amp; businesses.
		</span>
	</div>
</div>

<div class="kd-cta">
	<div class="container">
		<h2 class="kd-cta-title">Hello, I am KD</h2>
		<h2 class="kd-cta-title">A Designer and a Developer, I am passionate about Brand Identity Design.</h2>
		<h2 class="kd-cta-title">And love to work on UI and UX for websites and mobile apps.</h2>
		<h2 class="kd-cta-title">Take a look at my <a class="kd-cta-button" href="/contact/">projects and porfolio &#8594</a></h2>
	</div>
</div>

{{ content }}

{% include footer.html %}
