{% include head.html %}
{% include header.html %}
<!-- HERO -->
<div class="kd-intro">
    <div class="container">
        <h1 class="kd-intro-title">
            <a href="https://jamstack.org">Jamstack</a><br>
            UI Design<br>
            Front-end<br>
            <small>Development</small>
        </h1>
        <span class="kd-small-text">
        For individuals &amp; businesses.
        </span>
    </div>
</div>

<div class="kd-cta">
    <div class="container">
        <h2 class="kd-cta-title">Hello, I am KD</h2>
        <p>A Designer and a Developer, I am passionate about Jamstack, UI Design</p>
        <p>and front-end development for websites, web apps and mobile.</p>
        <p><a class="kd-cta-button" href="/work/">Take a look at my porfolio &#8594</a></p>
    </div>
</div>

{{ content }}

{% include footer.html %}
